// _base.scss

@import 'variables'; // Import variables

// Global reset for margin, padding, and box-sizing
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styling
body {
  font-family: $font-family;
  font-size: $font-size-base;
  background-color: $secondary-bg;
  color: $dark-text;
  background-image: url('background-2.jpeg'); /* Use the correct path */
  background-size: cover; /* Cover the whole background */
  background-position: center center; /* Center the background */
  background-repeat: no-repeat; /* Prevent repeat */
  height: 100vh; /* Ensure the body takes full viewport height */
}


// Link styling
a {
  text-decoration: none;
  color: inherit;
}

// Headings styling
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

// Paragraph styling
p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
