@import 'variables'; // Ensure you're importing variables at the top

// Global reset for margin, padding, and box-sizing
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styling
body {
  font-family: $font-family;
  font-size: $font-size-base;
  background-image: image-url('background-2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;  // make sure it covers full viewport height
  color: $dark-text;  // keep text color
  background-color: $secondary-bg; // fallback color in case image fails
}


// Link styling
a {
  text-decoration: none;
  color: inherit;  // Inherit color from parent elements
}

// Headings styling
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

// Paragraph styling
p {
  line-height: 1.6;         // Comfortable line height for readability
  margin-bottom: 1rem;      // Space below paragraphs
}
