/* _flatpickr.scss */
.flatpickr {
  width: 100%; /* Give it more space! */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flatpickr-calendar {
  background-color: #f8f8f8;
  border-radius: 8px;
  z-index: 9999; /* Ensure the calendar dropdown is above other elements */
}

.flatpickr-time {
  background-color: #fff;
  padding: 4px;
}
