@import 'mixins';
@import 'variables';

// Form container styling
.form-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

// Input fields
.field {
  margin-bottom: 1rem;

  input[type="email"],
  input[type="password"] {
    @include input($secondary-bg, $gray-border, $form-text-color);
  }

  label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: $dark-text;
  }
}

// Action buttons
.actions {
  margin-top: 1.5rem;

  input[type="submit"] {
    background-color: $dark-color;  // Dark background color
    color: $light-text;             // Light text color
    padding: 0.75rem;
    border-radius: $border-radius;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border: none;                   // No border
    text-align: center;

    &:hover {
      background-color: darken($dark-color, 10%);  // Darken on hover
    }

    &:focus {
      outline: 3px solid $primary-bg;  // Outline with primary color on focus
    }
  }
}
