@import "variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent !important;
  padding: 1rem 2rem;
  box-shadow: none;
  z-index: 10;
  border: none;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand a {
    font-family: $font-family;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  .navbar-links {
    a, .sign-out-btn {
      font-family: $font-family;
      color: #fff;
      text-decoration: none;
      margin-left: 1rem;
      &:hover { text-decoration: underline; }
    }
  }
}
