// app/assets/stylesheets/components/_shop.scss
@import 'variables';

.shop-card {
  background-color: $light-text;
  border-radius: $border-radius;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin-bottom: 2rem;
  transition: transform 0.2s ease;
  text-align: left;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    font-size: 1.75rem;
    color: $primary-text;
    margin-bottom: 0.5rem;
  }

  p {
    color: $dark-text;
    margin: 0.25rem 0;
  }

  .details-link {
    display: inline-block;
    margin-top: 1rem;
    color: $primary-bg;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
